:root.appearance-light {
  --primary-bg-color: #fff;
  --second-bg-color: #fff;
  --third-bg-color: #f5f5f5;
  --primary-text-color: #4a4a4a;
  --second-text-color: #4a4a4a;
  --top-bar-bg-color: rgba(255, 255, 255, 0.85);
  --border-line-color-2: rgba(0, 0, 0, 0.03);
  --border-line-color: rgba(0, 0, 0, 0.05);
  --blockquote-border-color: #dbdbdb;
  --table-border-color: #dbdbdb;
  --pre-code-bg-color: #f5f5f573;
  --skeleton-bg-color: #f5f5f5;
  --skeleton-flash-color: 0.5;
  --avatar-border-color: #fff; }

:root.appearance-dark {
  --primary-bg-color: #181818;
  --second-bg-color: #212121;
  --third-bg-color: #ffffff14;
  --primary-text-color: #fff;
  --second-text-color: #aaa;
  --border-line-color: rgba(255, 255, 255, 0.05);
  --border-line-color-2: rgba(255, 255, 255, 0.02);
  --top-bar-bg-color: rgba(24, 24, 24, 0.8);
  --blockquote-border-color: #aaa;
  --table-border-color: #aaa;
  --pre-code-bg-color: #ffffff03;
  --skeleton-bg-color: #2b2b2b;
  --skeleton-flash-color: 0.05;
  --avatar-border-color: rgba(255, 255, 255, 0.05); }

:root.appearance-auto {
  --primary-bg-color: #fff;
  --second-bg-color: #fff;
  --third-bg-color: #f5f5f5;
  --primary-text-color: #4a4a4a;
  --second-text-color: #4a4a4a;
  --top-bar-bg-color: rgba(255, 255, 255, 0.85);
  --border-line-color-2: rgba(0, 0, 0, 0.03);
  --border-line-color: rgba(0, 0, 0, 0.05);
  --blockquote-border-color: #dbdbdb;
  --table-border-color: #dbdbdb;
  --pre-code-bg-color: #f5f5f573;
  --skeleton-bg-color: #f5f5f5;
  --skeleton-flash-color: 0.5;
  --avatar-border-color: #fff; }
  @media (prefers-color-scheme: dark) {
    :root.appearance-auto {
      --primary-bg-color: #181818;
      --second-bg-color: #212121;
      --third-bg-color: #ffffff14;
      --primary-text-color: #fff;
      --second-text-color: #aaa;
      --border-line-color: rgba(255, 255, 255, 0.05);
      --border-line-color-2: rgba(255, 255, 255, 0.02);
      --top-bar-bg-color: rgba(24, 24, 24, 0.8);
      --blockquote-border-color: #aaa;
      --table-border-color: #aaa;
      --pre-code-bg-color: #ffffff03;
      --skeleton-bg-color: #2b2b2b;
      --skeleton-flash-color: 0.05;
      --avatar-border-color: rgba(255, 255, 255, 0.05); } }

:root {
  --backdropFilter: 20px;
  --borderRadius: 6px;
  --activeColor: #3273dc;
  --boxShadow: 0 6px 30px -10px rgba(0, 0, 0, .1); }
  :root.appearance-dark, :root.appearance-auto, :root.appearance-light {
    background: var(--primary-bg-color); }
    :root.appearance-dark h1, :root.appearance-dark h2, :root.appearance-dark h3, :root.appearance-dark h4, :root.appearance-dark h5, :root.appearance-dark h6, :root.appearance-auto h1, :root.appearance-auto h2, :root.appearance-auto h3, :root.appearance-auto h4, :root.appearance-auto h5, :root.appearance-auto h6, :root.appearance-light h1, :root.appearance-light h2, :root.appearance-light h3, :root.appearance-light h4, :root.appearance-light h5, :root.appearance-light h6 {
      color: var(--primary-text-color) !important; }
    :root.appearance-dark hr, :root.appearance-auto hr, :root.appearance-light hr {
      background: var(--third-bg-color); }
    :root.appearance-dark p, :root.appearance-dark strong, :root.appearance-dark dl, :root.appearance-dark ul, :root.appearance-dark ol, :root.appearance-dark cite, :root.appearance-auto p, :root.appearance-auto strong, :root.appearance-auto dl, :root.appearance-auto ul, :root.appearance-auto ol, :root.appearance-auto cite, :root.appearance-light p, :root.appearance-light strong, :root.appearance-light dl, :root.appearance-light ul, :root.appearance-light ol, :root.appearance-light cite {
      color: var(--second-text-color); }
    :root.appearance-dark .post-container span, :root.appearance-dark .about-page span, :root.appearance-auto .post-container span, :root.appearance-auto .about-page span, :root.appearance-light .post-container span, :root.appearance-light .about-page span {
      color: var(--second-text-color); }
    :root.appearance-dark .content blockquote, :root.appearance-auto .content blockquote, :root.appearance-light .content blockquote {
      background: var(--third-bg-color);
      border-color: var(--blockquote-border-color); }
    :root.appearance-dark .content table th, :root.appearance-dark .content table tr, :root.appearance-dark .content table td, :root.appearance-auto .content table th, :root.appearance-auto .content table tr, :root.appearance-auto .content table td, :root.appearance-light .content table th, :root.appearance-light .content table tr, :root.appearance-light .content table td {
      border-color: var(--table-border-color);
      color: var(--second-text-color) !important; }
